<!DOCTYPE html>
<html>

<head>
  <title>UCIREG Logout</title>
  <link rel="stylesheet" href="/css/styles.css">
  </head>
  
  <body style="background-color: #a6cAF0;">
    <div class="main-content">
    {{>header}}
       <b>
         <font color="#0000FF">Thank you for using the Utah County Item Registration system.</font>
       </b>
    </div>
    {{>footer}}
  
    </html>