<!DOCTYPE html>
<html>

<head>
  <title>404 Error</title>
  <!--<link rel="icon" href="/img/sheriffsm.ico">-->
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <br>
    <err404title>{{name}}</err404title>
    <err404><p>{{errorMessage}}</p></err404>
  </div>
  {{>footer}}
</body>

</html>