<header>
<table>
  <tr>
    <td><img src="../img/utahcounty.jpg" ; width="90" ; height="48" ; alt="" border="0" ;></td>
    <td>
      <label>
        Item Registration and Tracking System
      </label>
    </td>
  </tr>
</table>
<div>
{{title}}
</div>
</header> 